@import "tailwindcss";

:root{
  --fondo : #0f0d24;
  --borders : #090455;
  --color-input: #dad5d5;
  --color-div-request: #161436;
  --color-list: #131030;
  --color-menu: #121029;
}

*{
    border: 1px solid red;

}

/* login */

.seccion-login-input input{
    border: 1px solid #000;
    width: 15rem;
}

.seccion-login-input section{
    display: flex;
    flex-direction: column;

}

#boton-ingresar{
    background-color: #acabbd;
}

/* Home */
.contenedor-principal{
    color: #000;
    
}



.div-request{
    
    border: 1px solid var(--borders);
}

.menu-lateral{
    color: #000;
    background-color: #aaaabb;
}

.menu-lateral li:hover {
    background-color: #878796;
    transition: 0.2s;
}

.div-request input, select{
    width: 15rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 0.3rem 0;
    color: #000;
    background-color: #aaaabb;
}

.div-request section{
    padding-top: 0.4rem;
    padding-bottom: 1rem;
}

.listado{
    margin: 1rem 4rem 0 5rem;
    padding: 1rem 1rem;
    border-radius: 7px;
}

.listado li{
    list-style: none;
}

.links-enlaces a{
    padding: 0.3rem;
    border-radius: 5px;
    cursor: pointer;
}
